body{
    background-color: aquamarine;

}
h1{color: deeppink;
text-align: center;}
h2{color: darkblue;}
#k{
color: rgb(255, 0, 0);
}
#a {color: rgb(124, 3, 238);
text-align:center;
text-indent: 0%;
font-size: 500%;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
  li {
    margin-right: 60px;
    display: inline;
  }
  #navbar{
    display: flex;
    justify-content: center;
  }